PartyPalace/force-app/main/default/flows/Create_Delivery.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_new_Delivery</name>
        <label>Assign new Delivery</label>
        <locationX>358</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>newDelivery.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Transaction__r.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDelivery.Installer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a065Y00001vDuHHQA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newDelivery.Rental_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>24 Hour</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Delivery</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Similar_Records</name>
        <label>Check for Similar Records</label>
        <locationX>337</locationX>
        <locationY>367</locationY>
        <defaultConnector>
            <targetReference>Update_to_Rental_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Records Returned</defaultConnectorLabel>
        <rules>
            <name>No_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Similar_Rentals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_Delivery</targetReference>
            </connector>
            <label>No Records</label>
        </rules>
    </decisions>
    <interviewLabel>Create Delivery {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Delivery</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>New_Delivery</name>
        <label>New Delivery</label>
        <locationX>518</locationX>
        <locationY>507</locationY>
        <connector>
            <targetReference>Update_Rental_Line</targetReference>
        </connector>
        <inputReference>newDelivery</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Similar_Rentals</name>
        <label>Get Similar Rentals</label>
        <locationX>171</locationX>
        <locationY>374</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Similar_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Transaction__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Rental_Line__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Delivery__c</queriedFields>
        <queriedFields>Transaction__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Rental_Line</name>
        <label>Update Rental Line</label>
        <locationX>681</locationX>
        <locationY>507</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery__c</field>
            <value>
                <elementReference>newDelivery.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Rental_Line__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Rental_Line</name>
        <label>Update to Rental Line</label>
        <locationX>523</locationX>
        <locationY>374</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Delivery__c</field>
            <value>
                <elementReference>Get_Similar_Rentals.Delivery__c</elementReference>
            </value>
        </inputAssignments>
        <object>Rental_Line__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Similar_Rentals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Delivery__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Rental_Line__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newDelivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery__c</objectType>
    </variables>
</Flow>
