PartyPalace/force-app/main/default/flows/Transaction_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_New_Product_Line</name>
        <label>Assign New Product Line</label>
        <locationX>242</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>newProductLine.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newProductLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Product_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_Rental_Line</name>
        <label>Assign new Rental Line</label>
        <locationX>254</locationX>
        <locationY>342</locationY>
        <assignmentItems>
            <assignToReference>newRentalLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRentalLine.Transaction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRentalLine.Delivery__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Rental_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transaction_Assignment</name>
        <label>Transaction Assignment</label>
        <locationX>999</locationX>
        <locationY>267</locationY>
        <assignmentItems>
            <assignToReference>NewTransaction.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerForTransaction.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTransaction.Salesperson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesperson.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewTransaction.Store_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesperson.Store_Location__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ProductChoice</name>
        <choiceText>Product</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>RentalChoice</name>
        <choiceText>Rental</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>RentalChoiceBool</name>
        <choiceText>Rental</choiceText>
        <dataType>Boolean</dataType>
    </choices>
    <decisions>
        <name>More_Stuff_Decision</name>
        <label>More Stuff Decision</label>
        <locationX>719</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>Get_Transaction_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Finish Transaction</defaultConnectorLabel>
        <rules>
            <name>More_Stuff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Another_Rental_or_Product</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Rental_or_Product</targetReference>
            </connector>
            <label>More Stuff</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Contact_Creation</name>
        <label>New Contact Creation</label>
        <locationX>303</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>Existing_Customers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Selected</defaultConnectorLabel>
        <rules>
            <name>Checkbox_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Customer_Check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Customer_Screen</targetReference>
            </connector>
            <label>Checkbox Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>RentalLineChosen</name>
        <label>Rental</label>
        <locationX>633</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RentalSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RentalChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rental_Line_Creator</targetReference>
            </connector>
            <label>RentalSelected</label>
        </rules>
        <rules>
            <name>ProductSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Creation_Screen</targetReference>
            </connector>
            <label>ProductSelected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RentalChosen</name>
        <dataType>Number</dataType>
        <displayField>Name</displayField>
        <object>Rental__c</object>
        <outputAssignments>
            <assignToReference>newRentalLine.Rental__c</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>Transaction Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transaction Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>783</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>Get_Salesperson</targetReference>
        </connector>
        <inputReference>CustomerForTransaction</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Product_Line</name>
        <label>Create Product Line</label>
        <locationX>146</locationX>
        <locationY>553</locationY>
        <connector>
            <targetReference>Add_additional</targetReference>
        </connector>
        <inputReference>newProductLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Rental_Line</name>
        <label>Create Rental Line</label>
        <locationX>104</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Add_additional</targetReference>
        </connector>
        <inputReference>newRentalLine</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Transaction</name>
        <label>Create Transaction</label>
        <locationX>821</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>New_Rental_or_Product</targetReference>
        </connector>
        <inputReference>NewTransaction</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_full_Salesperson</name>
        <label>Get full Salesperson</label>
        <locationX>1124</locationX>
        <locationY>284</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transaction_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Salesperson.Id</elementReference>
            </value>
        </filters>
        <object>Salesperson__c</object>
        <outputReference>Salesperson</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Store_Location__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_Name</name>
        <label>Get Transaction Name</label>
        <locationX>947</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewTransaction.Id</elementReference>
            </value>
        </filters>
        <object>Transaction__c</object>
        <outputReference>NewTransaction</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Add_additional</name>
        <label>Add additional</label>
        <locationX>17</locationX>
        <locationY>641</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_Stuff_Decision</targetReference>
        </connector>
        <fields>
            <name>Add_Another_Rental_or_Product</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Add Another Rental or Product?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Customers</name>
        <label>Existing Customers</label>
        <locationX>589</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Salesperson</targetReference>
        </connector>
        <fields>
            <name>LookupExistingCustomer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerForTransaction.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1145</locationX>
        <locationY>484</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Final_Message</name>
            <fieldText>&lt;p&gt;Congratulations, your Transaction is complete. Transaction #: {!NewTransaction.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Salesperson</name>
        <label>Get Salesperson</label>
        <locationX>1118</locationX>
        <locationY>128</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_full_Salesperson</targetReference>
        </connector>
        <fields>
            <name>LookupSalesPerson</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Salesperson__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Salesperson</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Transaction__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Salesperson.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Customer</name>
        <label>New Customer?</label>
        <locationX>173</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Contact_Creation</targetReference>
        </connector>
        <fields>
            <name>WelcomeScreen</name>
            <fieldText>&lt;p&gt;Please Select if you have a new customer, otherwise click next&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Customer_Check</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>New Customer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Customer_Screen</name>
        <label>New Customer Screen</label>
        <locationX>597</locationX>
        <locationY>160</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <fields>
            <name>CustomerName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerForTransaction.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CustomerForTransaction.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>CustomerEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerForTransaction.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Rental_or_Product</name>
        <label>New Rental or Product</label>
        <locationX>705</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>RentalLineChosen</targetReference>
        </connector>
        <fields>
            <name>ChooseRentalOrProductHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Choose Item to Add to Your transaction&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Rental_or_Product</name>
            <choiceReferences>RentalChoice</choiceReferences>
            <choiceReferences>ProductChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Rental or Product?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Creation_Screen</name>
        <label>Product Creation Screen</label>
        <locationX>364</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Product_Line</targetReference>
        </connector>
        <fields>
            <name>ProductLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Product</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Product_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newProductLine.Product__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Quantity_Product</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Rental_Line_Creator</name>
        <label>Rental Line Creator</label>
        <locationX>382</locationX>
        <locationY>284</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_new_Rental_Line</targetReference>
        </connector>
        <fields>
            <name>RecordChoice</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Rental__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Rental</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Rental_Line__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>newRentalLine.Rental__c</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>47</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>New_Customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CustomerForTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>fullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newProductLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Line__c</objectType>
    </variables>
    <variables>
        <name>newRentalLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Rental_Line__c</objectType>
    </variables>
    <variables>
        <name>NewTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Transaction__c</objectType>
    </variables>
    <variables>
        <name>Rental</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Salesperson</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Salesperson__c</objectType>
    </variables>
</Flow>
